*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar{
    height: 5rem;
    background-color: #081b31;
    color: white;
    line-height: 5rem;
}

.container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.circle{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover{
    cursor: pointer;
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
}

.score-board{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 5rem;
}

.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
